{% extends '_layouts/base' %}

{% block content %}
	<main>
		<div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
			<h1 class="text-4xl font-bold text-gray-900">{{ entry.title }}</h1>
		</div>
	</main>
{% endblock %}
